/*
0 - 600px: phone
600 - 900px: tablet portrait
900 - 1200px: tablet landscape
[1200 - 1800] is where our normal styles apply
1800px +: big desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

*/
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Work+Sans:wght@400;700&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 30%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

::selection {
  background-color: #17a2b8;
  color: white; }

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'Work Sans', sans-serif !important; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400 !important;
  font-family: 'Crimson Text', serif !important; }

h1 {
  font-size: 4.8rem !important; }

h2 {
  font-size: 4rem !important; }

h3 {
  font-size: 3.2rem !important; }

h4 {
  font-size: 2.6rem !important; }

h5 {
  font-size: 2.2rem !important; }

h6 {
  font-size: 2rem !important; }

ol {
  list-style: none;
  counter-reset: my-awesome-counter; }

ol li {
  counter-increment: my-awesome-counter; }

ol li::before {
  content: counter(my-awesome-counter) ". "; }

.text-small, .error {
  white-space: nowrap; }
  @media only screen and (max-width: 75em) {
    .text-small, .error {
      font-size: 1.2rem; } }

nav {
  display: flex !important;
  padding: 1rem 3rem;
  align-items: center;
  height: 6rem;
  margin-bottom: 0; }

._nav__box--left {
  margin-right: auto; }

._nav__box--right {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  ._nav__box--right ._nav__login-box {
    margin-right: 3rem; }
    ._nav__box--right ._nav__login-box div {
      font-size: 1.25rem !important;
      margin-bottom: 0 !important;
      line-height: 1.5;
      padding: .5rem 1rem;
      background-color: #17a2b8;
      border: 1px solid #17a2b8;
      border-radius: .3rem;
      color: white !important; }
      ._nav__box--right ._nav__login-box div a {
        color: inherit; }
  ._nav__box--right ._nav__user-box {
    margin-right: 3rem;
    display: flex;
    align-items: center; }
    ._nav__box--right ._nav__user-box img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin-right: 1rem;
      transition: transform .3s; }
      ._nav__box--right ._nav__user-box img:hover {
        transform: scale(1.2);
        cursor: pointer; }

.nav-secondary {
  justify-content: space-between;
  background-color: rgba(23, 162, 184, 0.2); }
  .nav-secondary > .header-box {
    height: 100%;
    display: flex;
    align-items: center; }
    .nav-secondary > .header-box h6 {
      margin-bottom: 0 !important;
      width: calc(4rem + 1rem);
      height: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 .5rem;
      transform: translateX(calc(100%)); }
      .nav-secondary > .header-box h6:hover {
        cursor: pointer;
        background-color: #17a2b8; }
        .nav-secondary > .header-box h6:hover + img {
          transform: translateX(calc(-100% - 1rem)) scale(1.2); }
      .nav-secondary > .header-box h6 a {
        text-decoration: none;
        color: black; }
        .nav-secondary > .header-box h6 a:hover {
          border: none; }
    .nav-secondary > .header-box img {
      width: calc(6rem - 1rem * 2);
      height: 100%;
      transition: all .5s;
      transform: translateX(calc(-100% - 1rem)); }

.header-nav {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  height: 6rem; }
  .header-nav > :not(:first-child) {
    margin-left: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .header-nav > :not(:first-child) {
        font-size: 7px; } }
  .header-nav .title-box {
    flex: 1;
    margin-bottom: 0; }
  .header-nav .search-box {
    display: flex;
    align-items: center; }
    .header-nav .search-box label {
      font-size: 1.25rem;
      margin-bottom: 0;
      margin-right: .5rem; }
    .header-nav .search-box .search-input {
      outline: none;
      padding: .25rem .5rem;
      font-size: 1.25rem;
      width: 8rem;
      transition: all .3s; }
      .header-nav .search-box .search-input:focus {
        width: 12rem; }
  .header-nav .sorting-box {
    width: unset; }
    .header-nav .sorting-box select {
      background-color: white;
      padding-right: 4rem;
      height: unset;
      line-height: 1.8;
      box-shadow: none !important;
      border-color: transparent; }
      .header-nav .sorting-box select option {
        display: flex;
        align-items: center; }
  .header-nav .confirm-button {
    font-size: 1.25rem; }
  .header-nav .pagination-box {
    margin-left: 5rem; }
    @media only screen and (max-width: 37.5em) {
      .header-nav .pagination-box {
        margin-left: 3rem; } }
    .header-nav .pagination-box .pagination {
      margin-bottom: 0; }
      .header-nav .pagination-box .pagination .active {
        background-color: #17a2b8 !important; }
        .header-nav .pagination-box .pagination .active * {
          background-color: inherit !important; }

#index-container {
  padding: 0 3rem;
  display: flex;
  height: calc(100vh - 2 * 6rem);
  flex-wrap: wrap;
  padding-bottom: 3rem;
  min-height: 500px; }
  #index-container > div {
    position: relative;
    height: 100%; }
  #index-container .header {
    margin: 3rem 0;
    text-align: center;
    line-height: 1; }
  #index-container .box--1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column; }
    #index-container .box--1 .img-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: calc(100% - 3rem * 2 - 2.6rem);
      flex: 1; }
      #index-container .box--1 .img-box svg {
        width: 5rem;
        height: 3.5rem;
        fill: white;
        position: relative;
        left: 0;
        transition: left .1s, fill .3s, transform .3s; }
        @media only screen and (max-width: 37.5em) {
          #index-container .box--1 .img-box svg {
            width: 10rem;
            height: 7rem; } }
        #index-container .box--1 .img-box svg:first-child {
          margin-left: 1rem;
          margin-right: 2rem; }
        #index-container .box--1 .img-box svg:last-child {
          margin-left: 2rem;
          margin-right: 1rem; }
        #index-container .box--1 .img-box svg:hover {
          cursor: pointer;
          fill: #17a2b8;
          transform: translateX(1rem) scaleX(1.5);
          left: -1rem; }
          #index-container .box--1 .img-box svg:hover use {
            stroke: #17a2b8; }
        #index-container .box--1 .img-box svg use {
          stroke: black; }
      #index-container .box--1 .img-box img {
        max-width: calc(100% - 16rem);
        max-height: 100%;
        min-height: 50%; }
        @media only screen and (max-width: 37.5em) {
          #index-container .box--1 .img-box img {
            max-height: 40rem; } }
    #index-container .box--1 .content-box {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding: 3rem 3rem;
      padding-bottom: 0; }
      #index-container .box--1 .content-box > div {
        margin: 1rem 0;
        margin-left: 1rem;
        text-align: left; }
        #index-container .box--1 .content-box > div:first-child {
          margin-top: 2rem; }
        #index-container .box--1 .content-box > div:last-child {
          margin-bottom: 2rem; }
      #index-container .box--1 .content-box span {
        display: inline-block;
        font-size: 1.5rem; }
      #index-container .box--1 .content-box__header {
        margin-right: .5rem; }
  #index-container > :nth-child(2) .posts-box {
    margin: 0rem 1rem;
    font-size: 1.25rem;
    height: calc(100% - 3rem * 2 - 2.6rem);
    overflow: scroll; }
    #index-container > :nth-child(2) .posts-box .post:not(:first-child) {
      margin-top: 1.5rem; }
    #index-container > :nth-child(2) .posts-box a {
      color: black;
      font-size: 2.2rem !important; }
    #index-container > :nth-child(2) .posts-box li::before {
      font-size: 2.2rem;
      color: red;
      font-weight: bold; }
    #index-container > :nth-child(2) .posts-box .title {
      display: inline-block; }
  #index-container > :last-child .contribution-box {
    margin: 0rem 1rem;
    font-size: 1.25rem;
    height: calc(100% - 3rem * 2 - 2.6rem);
    overflow: scroll; }
    #index-container > :last-child .contribution-box .contribution {
      text-align: center;
      font-size: 1.8rem; }
      #index-container > :last-child .contribution-box .contribution span:first-child {
        margin-right: 2rem; }
    #index-container > :last-child .contribution-box .contribution:not(:first-child) {
      margin-top: 2rem; }

#items-container {
  padding: 0 3rem;
  height: calc(100vh -  2 *6rem); }
  #items-container .items-box-container {
    height: calc(100vh - 3 * 6rem);
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden; }
    #items-container .items-box-container > * {
      height: 50%; }
      #items-container .items-box-container > * .item-box--outer {
        padding: 1rem 2rem;
        width: 100%;
        height: 100%; }
        #items-container .items-box-container > * .item-box--outer .item-box {
          border: 1px solid black;
          border-radius: 1rem;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column; }
          #items-container .items-box-container > * .item-box--outer .item-box .img-box {
            height: calc(100% - 4 * (1.5 * 1.2rem + .25rem * 2) - 6rem); }
            @media only screen and (max-width: 37.5em) {
              #items-container .items-box-container > * .item-box--outer .item-box .img-box {
                height: calc(100% - 4 * (1.5 * 1.8rem + .5rem * 2) - 15rem); } }
            #items-container .items-box-container > * .item-box--outer .item-box .img-box img {
              width: 100%;
              height: 100%;
              padding: 2rem 1rem; }
              #items-container .items-box-container > * .item-box--outer .item-box .img-box img:hover {
                cursor: pointer; }
          #items-container .items-box-container > * .item-box--outer .item-box > span {
            background-color: rgba(23, 162, 184, 0.05);
            vertical-align: middle;
            padding: .25rem 1rem;
            font-size: 1.2rem;
            width: 100%;
            border-top: 1px solid black;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            -ms-overflow-style: none; }
            #items-container .items-box-container > * .item-box--outer .item-box > span::-webkit-scrollbar {
              display: none; }
            @media only screen and (max-width: 37.5em) {
              #items-container .items-box-container > * .item-box--outer .item-box > span {
                font-size: 1.8rem;
                padding: .5rem 1rem; } }
          #items-container .items-box-container > * .item-box--outer .item-box > span.intro {
            height: 6rem;
            white-space: normal;
            overflow: scroll; }
            @media only screen and (max-width: 37.5em) {
              #items-container .items-box-container > * .item-box--outer .item-box > span.intro {
                height: 15rem; } }

#posts-container {
  padding: 0 3rem;
  height: calc(100vh - 2 * 6rem); }
  #posts-container .posts-table {
    min-height: 600px;
    width: 100%;
    height: calc(100vh - 3 * 6rem);
    padding: 0 1.5rem 2rem 1.5rem; }
    #posts-container .posts-table .posts-table__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 6rem; }
      #posts-container .posts-table .posts-table__header .post-button-container {
        flex: 1; }
        #posts-container .posts-table .posts-table__header .post-button-container a {
          font-size: 2rem; }
    #posts-container .posts-table .post-info-container {
      display: flex;
      flex: 0 0 40%;
      justify-content: space-between;
      align-items: center; }
      #posts-container .posts-table .post-info-container > * {
        flex: 0 0 25%;
        text-align: center;
        margin-bottom: 0;
        min-width: 10rem; }
    #posts-container .posts-table .posts-table__content {
      height: calc(100% - 2 * 6rem);
      border: 1px solid black;
      overflow: hidden;
      border-bottom: none; }
      #posts-container .posts-table .posts-table__content .top {
        background-color: rgba(128, 128, 128, 0.3); }
      #posts-container .posts-table .posts-table__content .posts-table__row {
        height: calc(100% / 8);
        width: 100%;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        #posts-container .posts-table .posts-table__content .posts-table__row:not(:last-child) {
          border-bottom: 1px solid black; }
        #posts-container .posts-table .posts-table__content .posts-table__row .title-container {
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding: 0 2rem; }
          #posts-container .posts-table .posts-table__content .posts-table__row .title-container .title {
            margin: 0;
            font-weight: bold;
            text-decoration: none;
            display: block;
            color: black;
            width: fit-content;
            border-bottom: 1px solid transparent; }
            #posts-container .posts-table .posts-table__content .posts-table__row .title-container .title:hover {
              border-bottom: 1px solid black; }
        #posts-container .posts-table .posts-table__content .posts-table__row .post-info-container {
          display: flex;
          align-items: center; }
          #posts-container .posts-table .posts-table__content .posts-table__row .post-info-container svg {
            width: 2rem;
            height: 2rem; }

#post-item-container {
  padding: 0 3rem;
  height: calc(100vh - 2 * 6rem); }
  #post-item-container .post-item-form {
    height: calc(100vh - 3 * 6rem - 3rem);
    border: 1px solid black;
    padding-bottom: 3rem;
    border-radius: 1rem;
    padding: 2rem 4rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgba(23, 162, 184, 0.1); }
    #post-item-container .post-item-form > div {
      flex: 1;
      font-size: 2rem;
      display: flex;
      flex-direction: row;
      align-items: center; }
      #post-item-container .post-item-form > div .title {
        flex: 0 0 12rem; }
      #post-item-container .post-item-form > div .name-input, #post-item-container .post-item-form > div .count-input, #post-item-container .post-item-form > div .contact-input {
        outline: none;
        padding: .5rem 1rem;
        font-size: 1.25rem; }
    #post-item-container .post-item-form .category-box .content {
      display: flex;
      align-items: center; }
      #post-item-container .post-item-form .category-box .content .img-box {
        width: 4rem;
        height: 4rem;
        margin-right: .5rem;
        border: 1px solid #17a2b8;
        border-radius: 50%;
        display: flex; }
        #post-item-container .post-item-form .category-box .content .img-box img {
          width: 100%;
          height: 100%;
          transition: all 3s; }
        #post-item-container .post-item-form .category-box .content .img-box:hover {
          cursor: pointer; }
      #post-item-container .post-item-form .category-box .content .animate {
        transform: scale(1.3);
        border: 5px solid #117a8b; }
      #post-item-container .post-item-form .category-box .content > span {
        margin-right: 3rem; }
    #post-item-container .post-item-form .upload-box {
      flex-wrap: wrap; }
      #post-item-container .post-item-form .upload-box .input-group {
        flex: 0 0 15rem;
        margin-right: 2rem; }
        #post-item-container .post-item-form .upload-box .input-group .custom-file {
          margin-top: 1rem; }
          #post-item-container .post-item-form .upload-box .input-group .custom-file input {
            width: 15rem; }
            #post-item-container .post-item-form .upload-box .input-group .custom-file input + label {
              margin-bottom: 0;
              width: 15rem;
              font-size: 1.5rem !important; }
    #post-item-container .post-item-form .intro-box .input-group {
      height: 75%;
      width: 75%; }
      #post-item-container .post-item-form .intro-box .input-group textarea {
        font-size: 1.5rem;
        outline: none;
        box-shadow: none; }
    #post-item-container .post-item-form .bottom-bar {
      display: flex; }
      #post-item-container .post-item-form .bottom-bar > .form-check {
        display: flex;
        align-items: center;
        flex: 1; }
        #post-item-container .post-item-form .bottom-bar > .form-check .form-check-input {
          margin-top: 0; }
          #post-item-container .post-item-form .bottom-bar > .form-check .form-check-input + label {
            margin-left: .5rem; }
      #post-item-container .post-item-form .bottom-bar .btn-cancel {
        margin-right: 2rem; }

.authenticate-container-login, .authenticate-container-signup {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-width: 300px; }

.authenticate-container-login {
  min-height: 400px; }

.authenticate-container-signup {
  min-height: 500px; }

.form-authenticate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  min-width: 300px; }
  .form-authenticate .header {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: 650 !important;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, rgba(23, 162, 184, 0.1), #117a8b);
    letter-spacing: 2px;
    transition: all 0.3s;
    transition: background-image 0; }
    .form-authenticate .header:hover {
      transform: skewY(2deg) skewX(15deg) scale(1.2);
      text-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.2);
      font-weight: 700 !important; }
  .form-authenticate .form-img-container {
    display: flex;
    justify-content: center; }
    .form-authenticate .form-img-container .form-img {
      width: 7.5rem;
      height: 7.5rem;
      border-radius: 50%;
      margin-bottom: 5rem;
      fill: rgba(23, 162, 184, 0.5);
      transition: all .3s; }
      .form-authenticate .form-img-container .form-img:hover {
        fill: #17a2b8; }
  .form-authenticate .my-input-group {
    position: relative;
    width: 75%;
    margin: 0 auto;
    font-size: 1.5rem;
    margin-bottom: 2rem; }
    .form-authenticate .my-input-group input {
      display: block;
      width: 100%;
      font-size: inherit;
      font-family: none;
      outline: none;
      padding: .5rem 3px;
      border: none;
      background-color: transparent;
      border-bottom: 0.3rem solid grey;
      transition: all .3s; }
      .form-authenticate .my-input-group input:focus {
        border-bottom: 0.3rem solid #117a8b !important; }
      .form-authenticate .my-input-group input:focus:invalid {
        border-bottom: 0.3rem solid red !important; }
      .form-authenticate .my-input-group input:placeholder-shown ~ label {
        transform: translate(0.3rem, calc(-1 * (100% + .5rem + 0.3rem)));
        opacity: 0; }
    .form-authenticate .my-input-group label {
      display: block;
      font-size: inherit;
      color: #17a2b8;
      font-weight: 500;
      position: relative;
      z-index: -1;
      transform: translate(3px, calc(-1 * (200% + 1rem + 0.3rem)));
      opacity: 1;
      transition: all .3s; }
    .form-authenticate .my-input-group .error {
      position: absolute;
      width: 100%;
      text-align: right;
      bottom: 0;
      right: 0; }
  .form-authenticate .form-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .form-authenticate .form-button-container a {
      display: block;
      text-decoration: none;
      text-align: center;
      color: white !important;
      width: 50%;
      padding: 1rem 2rem;
      border-radius: 25px;
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
      background-image: linear-gradient(to right, rgba(23, 162, 184, 0.5), #17a2b8);
      transition: all .5s;
      letter-spacing: 2px;
      font-weight: 600; }
      .form-authenticate .form-button-container a:hover {
        transform: translateY(-3px);
        width: 75%;
        background-image: linear-gradient(to right, rgba(17, 122, 139, 0.5), #17a2b8); }
      .form-authenticate .form-button-container a:active {
        transform: translateY(-1px);
        width: 75%;
        background-image: linear-gradient(to right, rgba(17, 122, 139, 0.5), #17a2b8); }
  .form-authenticate .form-button-link {
    width: 100%;
    display: flex;
    justify-content: center; }
    .form-authenticate .form-button-link a {
      width: 75%;
      text-align: right;
      text-decoration: none;
      font-size: 1.3rem;
      color: #17a2b8; }
      .form-authenticate .form-button-link a span:hover {
        border-bottom: 1px solid currentColor; }
