.text-small, .error {
    white-space: nowrap;
    
    @include respond(tab-land) {
        font-size: 1.2rem;
    }
    
}


.hidden {
    display: none;
}

.form-check-label {
    margin-left: 2rem !important;
}


.icon-container {
    svg {
        margin-right: .5rem;
    }
}